<div class="row">
	<div class="span8">
		<h2>Features this Backbone demo application supports</h2>
		<ul>
			<li>Single Page Application, the browser never does a page turn.</li>
			<li>Ability to load different pages/areas.
				<ul>
					<li>Example: from the main navbar click Home and Members</li>
				</ul>
			</li>
			<li>Routing that supports deep linking and the browser's back and forward buttons</li>
			<li>Calls an external API for data: http://localhost:3000/members</li>
			<li>Client Side MVC structure</li>
			<li>Dynamic updating of information.
				<ul>
					<li>Example: when updating a member, that member's info is updated in the list of members</li>
				</ul>
			</li>
			<li>CRUD operations on the members</li>
			<li>Restful URLs</li>
			<li>Forms use HTTP Verbs: Get, Create, Post and Put</li>
			<li>Ablility to filter a list via a get parameter.</li>
			<li>Form Validation</li>
			<li>Success confirmations</li>
			<li>Uses handlebars for the html templates.</li>
			<li>http://localhost:3000/ is the api server that uses express.js</li>
		</ul>
		<h2>Main Technologies Used</h2>
		<ul>
			<li><a href="http://backbonejs.org/" target="_blank">Backbone.js</a></li>
			<li><a href="http://underscorejs.org/" target="_blank">Underscore.js</a></li>
			<li><a href="http://handlebarsjs.com/" target="_blank">Handlebars</a></li>
			<li><a href="http://jquery.com/" target="_blank">jQuery</a></li>
		</ul>
		<h2>Secondary Technologies Used</h2>
		<ul>
			<li><a href="http://coffeescript.org/" target="_blank">CoffeeScript</a> <small>- for this app most of the JavaScript is written in CoffeeScript</small></li>
			<li><a href="http://expressjs.com/" target="_blank">express.js</a></li>
			<li><a href="http://lesscss.org/" target="_blank">{less}</a></li>
			<li><a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap, from Twitter</a></li>
		</ul>
	</div>
	<div class="span4">
		<iframe style="width:300px; height:250px;" src="http://www.youtube.com/embed/PDxvb8Lk-NE" frameborder="0" allowfullscreen></iframe>
	</div>
</div>