<!-- CREATE VIEW -->
<form class="form-vertical">
	<fieldset>
		<legend>Create Member</legend>
		<div class="control-group">
			<label class="control-label" for="username">Username:</label>
			<div class="controls">
				<input type="text" name="username" value="" class="span3" />
				<p class="help-block"></p>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="name">Name:</label>
			<div class="controls">
				<input type="text" name="name" value="" class="span3" />
				<p class="help-block"></p>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="type">Type:</label>
			<div class="controls">
				<select name="type" id="type">
					<option value="patient">Patient</option>
					<option value="nurse">Nurse</option>
					<option value="doctor">Doctor</option>
				</select>
				<p class="help-block"></p>
			</div>
		</div>
		<!--
		<div class="control-group">
			<label class="control-label" for="state">State:</label>
			<div class="controls">
				<input type="text" name="state" value="" />
				<p class="help-block"></p>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="country">Country:</label>
			<div class="controls">
				<input type="text" name="country" value="" />
				<p class="help-block"></p>
			</div>
		</div>
		-->
		<div class="form-actions">
			<button class="btn btn-primary" type="submit">Save</button>
		</div>
	</fieldset>
</form>