<div class="subnav">
	<ul class="nav nav-pills">
		<li class="{{#if filter.all}}active{{/if}}">
			<a href="#members">All</a>
		</li>
		<li class="{{#if filter.patient}}active{{/if}}">
			<a href="#members?filter=patients">Patients</a>
		</li>
		<li class="{{#if filter.nurse}}active{{/if}}">
			<a href="#members?filter=nurses">Nurses</a>
		</li>
		<li class="{{#if filter.doctor}}active{{/if}}">
			<a href="#members?filter=doctors">Doctors</a>
		</li>
	</ul>
</div>

<table class="table table-bordered table-striped" data-list="members">
	<colgroup>
		<col style="width:26%" />
		<col style="width:22%" />
		<col style="width:20%" />
		<col style="width:22%" />
		<col style="width:10%" />
	</colgroup>
	<thead>
		<tr>
			<th>Name</th>
			<th>Born City</th>
			<th>Born State</th>
			<th>Born Country</th>
			<th>Actions</th>
		</tr>
	</thead>
</table>
